<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CURE Appication</title>
  </head>
  <body>
    <!-- Header -->
    <header id="header">
      <nav>
        <div class="container">
          <a href="/" calss="nav-brand text-dark">사용자 관리 시스템</a>
        </div>
      </nav>
    </header>
  </body>
</html>
